*{
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #ccc;
    padding: 20px;
    width: 100%;
}

.error {
    color: red;
}

.img-profile{
    width: 150px; height:150px; border-radius: 50%
}